<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Barbados Gas Price Calculator</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/hack-font@3/build/web/hack-subset.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body class="has-navbar-fixed-top">
    <div id="particles-js"></div>
    
    <!-- Navbar -->
    <nav class="navbar is-transparent is-fixed-top">
      <div class="navbar-brand">
        <span class="navbar-item">
          <i class="fas fa-car fa-2x"></i>
        </span>
        <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navMenu" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/gascalc/new">
            Calculator
          </a>
          <a class="navbar-item" href="/historical">
            Fuel Prices
          </a>
          <a class="navbar-item" href="/tips">
            Fuel Saving Tips
          </a>
        </div>
        <div class="navbar-end">
          <span class="navbar-item">Gas Price: $<%= currentPetrolFuelRate.toFixed(2) %>/L</span>
          <span class="navbar-item">Diesel Price: $<%= currentDieselFuelRate.toFixed(2) %>/L</span>
        </div>
      </div>
    </nav>
    
    <!-- Fuel price Widget -->
    <section class="section section__fuel-widget">
      <div class="columns">
        <div class="column column__fuel-widget">
          <div class="div__fuel-widget">
            <div class="content is-size-7">
              <p>Gas Price: $3.96/L</p>
              <p>Diesel Price: $2.80/L</p>
            </div>
          </div>
        </div>
      </div>
    </section>