<% include partials/header %>
<section class="section section__title--top">
  <h1 class="title">
    Fuel Saving Tips
  </h1>
  <hr>
</section>
<section class="section section__paragraph--top">
  <div class="container">
    <div class="content  is-size-5 is-size-6-mobile">
      <p>
        Given that the amount in fuel taxes that you pay is dependent on the amount of fuel that you use, it is more important than
        ever to reduce the amount of fuel that you use. Outside of buying a more fuel efficient vehicle or just going
        <a ref="http://www.megapower365.com/" target="_blank">all electric</a>
        there are a few changes that you can make that can reduce the amount of fuel that you use.
      </p>
      <p>
        Below are just a few tips you can use to reduce your fuel usage. Some are really obvious but should still be stated, while
        others are not as intuitive.
      </p>
      </ul>
    </div>
  </div>
</section>

<!-- Fuel Saving Tips Cards -->
<section class=" section section__cards--fuel-savings">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="box">
          <div class="content">
            <h1 class="title">Tips</h1>
            <p>
              <strong>Accelerate Smoothly</strong>: Avoid accelerate rapidly as this uses more fuel.</p>
            <p>
              <strong>Monitor Your Tires</strong>: Check tire pressures weekly; under-inflated tires reduce fuel efficiency.</p>
            <p>
              <strong>Avoid using the A/C</strong>: Using A/C increases fuel usage at lower speeds.</p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <div class="content">
            <h1 class="title">Tips</h1>
            <p>
              <strong>Close Windows when possible</strong>: Open windows cause drag which reduces fuel efficiency.</p>
            <p>
              <strong>Don't carry unnecessary weight</strong>: Avoid keeping items in your vehicle as more weight = more
              fuel usage.
            </p>
            <p>
              <strong>Drive Less</strong>: Consider walking or carpooling.</p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <div class="content">
            <h1 class="title">Tips</h1>
            <p>
              <strong>Tune up your engine</strong>: A well-tuned engine is an efficient one.</p>
            <p>
              <strong>Replace you fuel filters</strong>: This is especially if you live in dusty areas.</p>
            <p>
              <strong>Reduce your speed</strong>: The faster you drive; the more fuel you use.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<% include partials/footer %>